<% [:notice, :error, :alert].each do |level| %>
    <% unless flash[level].blank? %>
        <div data-alert="alert" class="alert-message <%= twitterized_type(level) %> fade in">
          <a class="close" href="#">×</a>
          <%= content_tag :p, flash[level] %>
        </div>
    <% end %>
<% end %>